@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Thin */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/* Ultra Light */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-UltraLight.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Ultra Bold */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-UltraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/gt-walsheim-pro/GTWalsheimPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Default theme styles */
html {
  color-scheme: light;
  background-color: #ffc107; /* Light mode background */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.dark {
  color-scheme: dark;
  background-color: #1a1a1a; /* Dark mode background */
}

body {
  margin: 0;
  padding: 0;
  font-family: "GT Walsheim Pro", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

p::before {
  content: "";
}
